In [24]:
# import

import pandas as pd
import tensorflow as tf

In [25]:
# https://archive.ics.uci.edu/ml/datasets/heart+Disease
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')

In [26]:
df = pd.read_csv(csv_file)

In [27]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [28]:
df.shape

(303, 14)

1. age
2. sex
3. chest pain type (4 values)
4. resting blood pressure
5. serum cholestoral in mg/dl
6. fasting blood sugar > 120 mg/dl
7. resting electrocardiographic results (values 0,1,2)
8. maximum heart rate achieved
9. exercise induced angina
10. oldpeak = ST depression induced by exercise relative to rest
11. the slope of the peak exercise ST segment
12. number of major vessels (0-3) colored by flourosopy
13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
14. target 1 or 0

In [29]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [30]:
# thalが分類であるため、離散値に変換する
# Category型に変換
df['thal'] = pd.Categorical(df['thal'])
df['thal']

0           fixed
1          normal
2      reversible
3          normal
4          normal
          ...
298         fixed
299    reversible
300    reversible
301    reversible
302    reversible
Name: thal, Length: 303, dtype: category
Categories (5, object): [1, 2, fixed, normal, reversible]

In [31]:
# Category型からcodeを取得
df['thal'] = df['thal'].cat.codes
df['thal']

0      2
1      3
2      4
3      3
4      3
      ..
298    2
299    4
300    4
301    4
302    4
Name: thal, Length: 303, dtype: int8

In [32]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

# tf.data.Datasetを使ってデータをロードする

In [33]:
# dfからtargetをpopすることでdfからtargetを取り除き新たな配列を作成する
target = df.pop('target')

In [37]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3

In [35]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [44]:
print('df.shape:', df.shape)
print('dataset:', dataset)

df.shape: (303, 13)
dataset: <TensorSliceDataset shapes: ((13,), ()), types: (tf.float64, tf.int64)>

In [45]:
# datasetから5行分のfeature, targetをそれぞれ取得
for feat, targ in dataset.take(5):
    print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0

In [46]:
tf.constant(df['thal'])

<tf.Tensor: shape=(303,), dtype=int32, numpy=
array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3,
       3, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 4, 2, 4, 3, 4, 3, 4, 4,
       2, 3, 3, 4, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 4,
       4, 2, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 4,
       3, 3, 4, 3, 4, 4, 3, 4, 3, 3, 3, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4,
       3, 3, 3, 3, 4, 3, 4, 3, 4, 4, 3, 3, 2, 4, 4, 2, 3, 3, 4, 4, 3, 4,
       3, 3, 4, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4,
       4, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 2,
       4, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 2, 4, 3, 4, 2, 4, 3,
       3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 2, 2, 4, 3, 4, 3, 2, 4, 3, 3, 2,
       4, 4, 4, 4, 3, 0, 3, 3, 3, 3, 1, 4, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4,
       3, 3, 4, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 3, 2, 4, 4, 4, 4])>

In [48]:
df['thal']

0      2
1      3
2      4
3      3
4      3
      ..
298    2
299    4
300    4
301    4
302    4
Name: thal, Length: 303, dtype: int8

In [49]:
# データをシャッフルし、バッチ処理を行う
train_dataset = dataset.shuffle(len(df)).batch(1)

## モデルを作成して訓練する

In [50]:
def get_compiled_model():
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ])
    
    model.compile(optimizer='adam',
                 loss='binary_crossentropy',
                 metrics=['accuracy'])
    return model

In [51]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Train for 303 steps
Epoch 1/15
303/303 [==============================] - 3s 9ms/step - loss: 6.7097 - accuracy: 0.6733
Epoch 2/15
303/303 [==============================] - 2s 7ms/step - loss: 1.0951 - accuracy: 0.6832
Epoch 3/15
303/303 [==============================] - 2s 7ms/step - loss: 0.9901 - accuracy: 0.6898
Epoch 4/15
303/303 [==============================] - 2s 8ms/step - loss: 0.8044 - accuracy: 0.7294
Epoch 5/15
303/303 [==============================] - 4s 12ms/step - loss: 0.7880 - accuracy: 0.7360
Epoch 6/15
303/303 [==============================] - 3s 10ms/step - loss: 0.6853 - accuracy: 0.7360
Epoch 7/15
303/303 [==============================] - 2s 7ms/step - loss: 0.7504 - accuracy: 0.7228
Epoch 8/15
303/303 [==============================] - 1s 5ms/step - loss: 0.6265 - accuracy: 0.7591
Epoch 9/15
303/303 [==============================] - 2s 7ms/step - loss: 0.5873 - accuracy: 0.7723
Epoch 10/15
303/303 [==============================] - 2s 7ms/step - loss: 0.5442 - accuracy: 0.7558
Epoch 11/15
303/303 [==============================] - 2s 7ms/step - loss: 0.6206 - accuracy: 0.7492
Epoch 12/15
303/303 [==============================] - 2s 7ms/step - loss: 0.5701 - accuracy: 0.7492
Epoch 13/15
303/303 [==============================] - 2s 8ms/step - loss: 0.4719 - accuracy: 0.8086
Epoch 14/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5115 - accuracy: 0.7624
Epoch 15/15
303/303 [==============================] - 2s 5ms/step - loss: 0.4853 - accuracy: 0.7888